.contentBox{
    position: absolute;
    border: none;
    color: black;
    width: 85%;
    height: 567px;
    margin: 0px 0 0 15%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    z-index: -4;
}
#left-content{
    border:1px solid #B44DE1;
    width: 300px;
    height: 500px;
    float: left;
    margin: 30px 0px 0px 60px;
    border-radius: 5px;
}

#mid-content{
    border:1px solid #B44DE1;
    width: 300px;
    height: 500px;
    float: left;
    margin: 30px 0px 0px 50px;
    border-radius: 5px;
}
#right-content{
    border:1px solid #B44DE1;
    width: 300px;
    height: 500px;
    float: left;
    margin: 30px 0px 0px 50px;
    border-radius: 5px;
}