#tool-box{
    border: none;
    width: 70%;
    height: 100px;
     margin: 0% 0% 0% 15%;
}
 .txt-editor {
     width: 70%;
     height: 600px;
     margin: 10px 0 0 15%;
     background-color: #FFFFFF;
     border: none;
 }
    #add-btn{
       
        border: none;
        float:right;
        width: 100px;
        height: 45px;
        border-radius: 10px;
        margin: 0 0 10px 0;
    }
    #add-btn:hover{
        background-color: #BD00FF;
        color: #FFFFFF;
    }
    #toolbar{
        float:right;
        width: 785px;
    }