 /* .container{
    border:1px solid black;
    color: black;
    height:567px;
    background-color:#FFFFFF ;
    overflow: auto;
 } */
 
 .text-editor {
     border: 1px solid black;
     width: 80%;
     margin: 0% 0% 0% 15%;
 }

 #toolbar {
     width: 70%;
     margin: 0% 0% 0% 15%;
 }